@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

@keyframes drift {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

.animate-drift {
  animation: drift 50s linear infinite;
}
